{% extends 'layout/base.html' %}
{% set active_page = 'contact' %}

{% block content %}
      <div class="well">
        <h1>Contact</h1>
        <p>You can contact us by e-mail or in the Google group forum.</p>
        <h2>E-mail</h2>
        <a href="mailto:project-citizencyberscience-coordinators@cern.ch">
          <i class="icon icon-envelope"></i> 
           project-citizencyberscience-coordinators@cern.ch
        </a>
        <h2>Forum</h2>
        <a href="https://groups.google.com/forum/#!forum/forest-watchers"><i class="icon icon-comment"></i> Google Group</a>
      </div>
{% endblock %}
