{% block footer %}
      <hr>

      <footer>
      <div class="row">
        <div class="span12">
          <a href="http://forestwatchers.net">
          <img src="/static/images/logos/forestwatchers.png">
          </a>
        </div>
        <div class="row">
          <div class="span2 offset1">
            <a href="http://www.soros.org">
            <img src="/static/images/logos/soros.png">
            </a>
          </div>  
          <div class="span2">
            <a href="http://www.unitar.org/unosat">
            <img src="/static/images/logos/unitar.png">
            </a>
          </div>  
          <div class="span2">
            <a href="http://www.inpe.br">
            <img src="/static/images/logos/inpe.png">
            </a>
          </div>  
          <div class="span2">
            <a href="http://www.citizencyberscience.net">
            <img src="/static/images/logos/ccc.png">
            </a>
          </div>  
          <div class="span2">
            <a href="http://www.unifesp.br">
            <img src="/static/images/logos/unifesp.png">
            </a>
          </div>  
        </div>
      </div>
      <p>Powered by <a href="http://getpelican.com">Pelican</a> and <a href="http://pybossa.com">PyBossa</a></p>
      </footer>
{% endblock %}
